$White: #FFFFFF ;
$ImagesHeight: 240px;
$ImageWidth:363px;

$ImagesHeight2: 368px;
$ImageWidth2:557px;
$mRright: 23px;
@font-face {
    font-family: Kanit-Medium;
    src: url(/page/fonts/Kanit/Kanit-Medium.ttf);
}
@font-face {
    font-family: Kanit-Light;
    src: url(/page/fonts/Kanit/Kanit-Light.ttf);
}
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
.header{
   width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 124px;
    &__img{
        height: 30px;
        width: 157px;
    }
}
.ManLookingAtBlackSquare{
   height: 570px;
   width: 100%;
   display: flex;
    flex-direction: row;
    margin-left:2px;
    margin-right:2px;

.Man{
 background-image: url(/page/img/PhilipMartin.png);
 background-repeat: no-repeat;
 background-size: cover;
height: 570px;
width: 50%;
 
}
.Square{
background-color: black;
height: 570px;
width: 50%;
background-repeat: no-repeat;
background-size: cover;
 }
.InsideBlackSqure{
  
    display: flex;
flex-direction: column;
 margin-left: 103px;
// //  margin-right: 108px;
//  margin-top: 127px;
//  margin-bottom: 124px;
&__Here2Divs{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     margin-bottom:38px;
     }
&__Date{
    color:$White;
    font-family: Kanit-Medium;
    font-size: 14px;
    letter-spacing: 7px;
     

}
&__LifeStyle{
    color:$White;
    font-family: Kanit-Medium;
    font-size: 16px;
}
&__AtVero{
    color:$White;
    font-family: Kanit-Medium;
    font-size: 28px;
}
&__Odio{
    margin-top:33px;
    color:$White;
    font-family: Kanit-Light;
    font-size: 14px;
}
&__ReadMore{
     margin-top:35px;
    color:$White;
    font-size: 12px;
    border: 1px solid $White;
    padding-left: 5%;
  
}
}
}
.Featured{
    margin-top: 106px;
    // margin-bottom: 106px;
display: flex;
flex-direction: row;
   justify-content: center;
    
   margin-left: 171px;
   margin-right: 171px;
    
   
&__Man1{
    font-family: Kanit;
    height: $ImagesHeight2;
    width: $ImageWidth2;
    margin-right: 26px;
     &__MediumLorem{
         font-family: Kanit-Medium;
         font-size: 24px;
     }
     &__Light{
        font-family: Kanit-Light;
        font-size: 18px;
    }
     
}
&__Man2{
    height: $ImagesHeight2;
    width: $ImageWidth2;
    &__MediumLorem{
        font-family: Kanit-Medium;
        font-size: 24px;
      
    }
    &__Light{
        font-family: Kanit-Light;
        font-size: 18px;
    }
     
 
}
}
.ThreeImages{
    // fix this shit
    margin-top: 277px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__YellowGirl{
        height: $ImagesHeight ;
        width: $ImageWidth;
      margin-right:$mRright;
        
    }
    &__WhiteAndBlack{
        height: $ImagesHeight ;
        width: $ImageWidth;
      
        margin-right: $mRright;
    }
 
    &__Color{
        height: $ImagesHeight ;
        width: $ImageWidth;
   
}
}
.MagazineAndBlackSquare{
    display: flex;
flex-direction: row;
   justify-content: center;
   margin: 10% 10% 10% 10%;
 
&__MagazineB{
    height: $ImagesHeight2;
    width: $ImageWidth2;
     
}
    &__SquareB{
        
        height: $ImagesHeight2;
         width: $ImageWidth2;
        
         &__Issue22{
color: $White;
         }
         &__Subscribe{
            color: $White;
         }
    }

}



.interviews{
      
    display: flex;
    flex-direction: row;
    justify-content: center;
     &__Photo{
        margin-right: $mRright;
     }

     &__ManAndDog{
        margin-right: $mRright;
     }

     &__Girl{
         
     }
}


.News{
      
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__Microphone{
        margin-right: $mRright;
     }
 
&__Hand{
    margin-right: $mRright;
 }
 
&__Magazines{
    
 }
 
}


// Here goes style of text
.p10p10p20{
font-family:Kanit-Medium;
font-size:  12px;
letter-spacing: 6px;
}
.smallInterwies{
    font-family:Kanit-Medium;
    font-size:  12px;
}
.atVero{
    font-family:Kanit-Medium;
    font-size:  18px;
}
.divToPoseText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
.Suffix{
    width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 124px;
     background-color: black;
     &__img{
         height: 30px;
         width: 157px;
     }
    }
    .seeall{
        
        font-family: Kanit-Medium;
        font-weight: 14px;
        margin: 0 auto;
        display: flex;
        height: 42px;
        width: 238px;
        color: $White;
        background-color: black;
        justify-content: center;
        align-items: center;
        margin-bottom: 86px;
        margin-top: 59px;
    }


    @media screen and  (max-width: 1200px) and (min-width: 970px) {
        .InsideBlackSqure{
   
        &__Here2Divs{
          
             }
        &__Date{
            
        
        }
        &__LifeStyle{
            
        }
        &__AtVero{
          
        }
        &__Odio{
          
        }
        &__ReadMore{
          
        }
        }
    }

    @media screen and  (max-width: 970px) and (min-width: 768px) {


    }
    @media screen and  (max-width:768px) and (min-width:  480px) {}
 @media screen and  (max-width:480px)   {

    .ManLookingAtBlackSquare{
         
        width: 100%;
         flex-direction:column;
         .Man{
            height: 50%;
           width: 100%;
            
           }
           .Square{
            height: 50%;
           width: 100%;
            
            
            
           }
     }
     .Featured{
        
        flex-direction:column;
     }
    }