@font-face {
  font-family: Kanit-Medium;
  src: url(/page/fonts/Kanit/Kanit-Medium.ttf);
}

@font-face {
  font-family: Kanit-Light;
  src: url(/page/fonts/Kanit/Kanit-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 124px;
}

.header__img {
  height: 30px;
  width: 157px;
}

.ManLookingAtBlackSquare {
  height: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2px;
  margin-right: 2px;
}

.ManLookingAtBlackSquare .Man {
  background-image: url(/page/img/PhilipMartin.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  width: 50%;
}

.ManLookingAtBlackSquare .Square {
  background-color: black;
  height: 570px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ManLookingAtBlackSquare .InsideBlackSqure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 103px;
}

.ManLookingAtBlackSquare .InsideBlackSqure__Here2Divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.ManLookingAtBlackSquare .InsideBlackSqure__Date {
  color: #FFFFFF;
  font-family: Kanit-Medium;
  font-size: 14px;
  letter-spacing: 7px;
}

.ManLookingAtBlackSquare .InsideBlackSqure__LifeStyle {
  color: #FFFFFF;
  font-family: Kanit-Medium;
  font-size: 16px;
}

.ManLookingAtBlackSquare .InsideBlackSqure__AtVero {
  color: #FFFFFF;
  font-family: Kanit-Medium;
  font-size: 28px;
}

.ManLookingAtBlackSquare .InsideBlackSqure__Odio {
  margin-top: 33px;
  color: #FFFFFF;
  font-family: Kanit-Light;
  font-size: 14px;
}

.ManLookingAtBlackSquare .InsideBlackSqure__ReadMore {
  margin-top: 35px;
  color: #FFFFFF;
  font-size: 12px;
  padding-left: 5%;
}

.Featured {
  margin-top: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 171px;
  margin-right: 171px;
}

.Featured__Man1 {
  font-family: Kanit;
  height: 368px;
  width: 557px;
  margin-right: 26px;
}

.Featured__Man1__MediumLorem {
  font-family: Kanit-Medium;
  font-size: 24px;
}

.Featured__Man1__Light {
  font-family: Kanit-Light;
  font-size: 18px;
}

.Featured__Man2 {
  height: 368px;
  width: 557px;
}

.Featured__Man2__MediumLorem {
  font-family: Kanit-Medium;
  font-size: 24px;
}

.Featured__Man2__Light {
  font-family: Kanit-Light;
  font-size: 18px;
}

.ThreeImages {
  margin-top: 277px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ThreeImages__YellowGirl {
  height: 240px;
  width: 363px;
  margin-right: 23px;
}

.ThreeImages__WhiteAndBlack {
  height: 240px;
  width: 363px;
  margin-right: 23px;
}

.ThreeImages__Color {
  height: 240px;
  width: 363px;
}

.MagazineAndBlackSquare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% 10% 10% 10%;
}

.MagazineAndBlackSquare__MagazineB {
  height: 368px;
  width: 557px;
}

.MagazineAndBlackSquare__SquareB {
  height: 368px;
  width: 557px;
}

.MagazineAndBlackSquare__SquareB__Issue22 {
  color: #FFFFFF;
}

.MagazineAndBlackSquare__SquareB__Subscribe {
  color: #FFFFFF;
}

.interviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interviews__Photo {
  margin-right: 23px;
}

.interviews__ManAndDog {
  margin-right: 23px;
}

.News {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.News__Microphone {
  margin-right: 23px;
}

.News__Hand {
  margin-right: 23px;
}

.p10p10p20 {
  font-family: Kanit-Medium;
  font-size: 12px;
  letter-spacing: 6px;
}

.smallInterwies {
  font-family: Kanit-Medium;
  font-size: 12px;
}

.atVero {
  font-family: Kanit-Medium;
  font-size: 18px;
}

.divToPoseText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Suffix {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 124px;
  background-color: black;
}

.Suffix__img {
  height: 30px;
  width: 157px;
}

.seeall {
  font-family: Kanit-Medium;
  font-weight: 14px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  width: 238px;
  color: #FFFFFF;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 86px;
  margin-top: 59px;
}

@media screen and (max-width: 480px) {
  .ManLookingAtBlackSquare {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ManLookingAtBlackSquare .Man {
    height: 50%;
    width: 100%;
  }
  .ManLookingAtBlackSquare .Square {
    height: 50%;
    width: 100%;
  }
  .Featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */